h1 {
    position: relative;
    width: 50%;
    height: 100px;
    text-align: left;
    color: #0051A8;
}
menu {
    position: absolute;
    top: 0px;
    right: 80px;
}
header {
    background-color: #011627;
}
#TheForm {
    
}
