@{
    ViewBag.Title = "coming to life soon";
}
    <p>I hope to soon be showing you a <strong>map</strong> and <strong>list</strong> of people coding in public places</p>
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CreE5Eu8H70" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
