<!DOCTYPE html>
<html>
<head>
    <title>Hocopo</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Welcome to Hocopo</h1>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </menu>
    </header>
    <section>
        <h2>@ViewBag.Title</h2>
    </section>
    @RenderBody()

    <footer>
    <br />
    Copyright 2018 Hocopoco</footer>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>